<div class="application">
  <header class="application__header" role="banner" aria-labelledby="title">
    {{#link-to 'index' class='application__title' id="title"}}BümBöx{{/link-to}}
  </header>

  <main class="application__content" role="main">
    {{outlet}}
  </main>

  <aside class="application__footer" role="complementary">
    {{now-playing}}
  </aside>
</div>
