<div class="application">
  <header class="application__header">
    {{#link-to 'index'}}<h1 class="application__title">BümBöx</h1>{{/link-to}}
  </header>

  <main class="application__content">
    {{outlet}}
  </main>

  <footer class="application__footer">
    {{now-playing}}
  </footer>
</div>
