{{#if isPlaying}}
  <button class="audio-control__pause" title="Pause this song" {{action 'pause'}}>❙❙</button>
{{else}}
  <button class="audio-control__play" title="Play this song" {{action 'play'}}>▶</button>
{{/if}}
